<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assest/favicon.ico">
    <title>NYIT Shuttle Bus</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="layout">
        <a href="#menu" id="menuLink" class="menu-link">
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="/">Bus Stop</a>
                <ul>
                    <li>
                        <a href="/suny">SUNY</a>
                    </li>
                    <li>
                        <a href="/anna-rubin-hall">Anna Rubin Hall</a>
                    </li>
                    <li>
                        <a href="/edu-hall">Educational Hall</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="header">
                <h1>Contact Us</h1>
            </div>
            <div class="content">
                <h2 class="content-subhead">Members</h2>
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Student ID</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="pure-table-odd">
                            <td>Shiqiu Zhang</td>
                            <td>0855521</td>
                            <td>szhang11@nyit.edu</td>
                        </tr>
                        <tr>
                            <td>Krishan Wanarajan</td>
                            <td>xxxxx</td>
                            <td>kwanaraj@nyit.edu</td>
                        </tr>
                        <tr class="pure-table-odd">
                            <td>Lenz Ignace</td>
                            <td>xxxxx</td>
                            <td>lignace@nyit.edu</td>
                        </tr>
                        <tr>
                            <td>Yilin Xu</td>
                            <td>xxxxx</td>
                            <td>yxu25@nyit.edu</td>
                        </tr>
                        <tr class="pure-table-odd">
                            <td>Vidhi Sanghvi</td>
                            <td>xxxxx</td>
                            <td>vsangh01@nyit.edu</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="footer">
            <div class="pure-menu pure-menu-horizontal pure-menu-open">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/javascripts/ui.js"></script>
</body>
</h