<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style type="text/css">
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;
    }
    </style>
    <title>nyit shuttle bus</title>
</head>

<body>
    <script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 0,
                lng: 0
            },
            zoom: 3,
            styles: [{
                featureType: 'poi',
                stylers: [{
                        visibility: 'off'
                    }] // Turn off points of interest.
            }, {
                featureType: 'transit.station',
                stylers: [{
                        visibility: 'off'
                    }] // Turn off bus stations, train stations, etc.
            }],
            disableDoubleClickZoom: true
        });

        var btn = document.getElementById('getLocation');
        btn.addEventListener('click', function(e) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }

            function showPosition(position) {
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                var marker = new google.maps.Marker({
                    position: {
                        lat: lat,
                        lng: lon
                    },
                    map: map,
                });
            }
        })
    }
    </script>
    <em>Better to open on Safari</em>
    <p>click this button and get your location：
        <button id="getLocation">click</button>
    </p>
    <div id="map" style="width:500px;height:380px;"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7lX4EKpN2clTxSnuB4RoOpxgku3jjakw&libraries=visualization&callback=initMap">
    </script>
</body>

</html>
